canvas {
    cursor: default;
    outline: none;
}

html,body{
    
    min-width: 1024px;
    min-height: 800px;

    margin: 0;
    overflow-y: hidden;
    font-family: 'Baloo 2', cursive;
    background-color:#85144b;


}

#embed-html table{
    max-height: 100vh !important;
    margin-left: auto !important;
    margin-right: auto !important;

}
#gameTitle{
    color: white;
    text-align: center;
}

#credits{
    text-align: center;
    color:white;
}

#credits q{
    text-align: center;
    color:white;
}