canvas {
    cursor: default;
    outline: none;
}

html,body{
    
    min-width: 1024px;
    min-height: 900px;

    margin: 0;
    overflow-y: hidden;
    font-family: 'Baloo 2', cursive;
    background-color:#85144b;


}


#embed-html{
    margin: auto !important;
}


#embed-html table{
    padding-top: 150px;
    max-height: 100vh !important;
    margin-left: auto !important;
    margin-right: auto !important;

}

.logo{
    display: none !important;
}


#gameTitle{
    text-align: center;
    text-decoration: underline;
    -moz-text-decoration-color: red;
    color:white;
    max-height: 10vh !important;
}
